<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marketapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarketApp">
        <activity
            android:name=".activity.MyOderActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AllBillActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DetailBillActivity"
            android:exported="true" />
        <activity
            android:name=".activity.HistoryActivity"
            android:exported="true" />
        <activity
            android:name=".activity.NotifiActivity"
            android:exported="true" />
        <activity
            android:name=".activity.InforActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SuccessVerifyActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SMSPhoneActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SMSEmailActivity"
            android:exported="true" />
        <activity
            android:name=".activity.VerifyYourPhoneActivity"
            android:exported="true" />
        <activity
            android:name=".activity.VerifyYourEmailActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>